/* TAILWIND IMPORT */ 


@tailwind base;
@tailwind components;
@tailwind utilities;


/* GLOBALES */

body{
  background-color: #fff;
  color: black;
  margin: 0;
  padding: 0;
  max-height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: mandatory;
}

html{
  box-sizing: border-box;
  scroll-behavior: smooth;
}


/* KEYFRAMES */

@keyframes smoothMoveUp {
  0%, 100% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-10%);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




/* HEADER */

.transition-menu {
  transition: transform 0.3s ease-in-out;   
  transform: translateY(-100%);
}

.transition-menu.active {
  transform: translateY(0);

}

.nunito{
  font-family: 'Nunito Sans', sans-serif;
}


/* HERO */

.prompt{
  font-family: 'Prompt', sans-serif;
}

.arrow-down {
  animation: smoothMoveUp 2s ease-in-out infinite;
}


/* MOBILE PROJECTS */

.mobile{
  font-family: 'Nunito Sans', sans-serif;
}



.attitude {
  background-image: 
  linear-gradient(to bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
  url(./assets/attitude.png);
  background-size: cover;
  background-position: center;
  border-radius: 0.7rem;
  width: 300px;
  height: 500px;
  background-size: cover;
  font-family: 'Cinzel Decorative', serif;
  position: relative;
}



.fundit{
  background-image: 
  linear-gradient(to bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
  url(./assets/fundit.png);
  background-size: cover;
  background-position: center;
  border-radius: 0.7rem;
  width: 300px;
  height: 500px;
  background-size: cover;
  font-family: 'Nosifer', sans-serif;
  position: relative;
 
}



.huddle{
  background-image: 
  linear-gradient(to bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
  url(./assets/huddle.png);
  background-size: cover;
  background-position: center;
  border-radius: 0.7rem;
  width: 300px;
  height: 500px;
  background-size: cover;
  font-family: 'Nunito Sans', sans-serif;
  position: relative;
 
}


/* DESKTOP PROJECTS */

.rotating-image {
  display: inline-block;
  animation: spin 10s linear infinite;
}