/* TAILWIND IMPORT */ 


@tailwind base;
@tailwind components;
@tailwind utilities;


/* GLOBALES */

body{
  background-color: #fff;
  color: black;
  margin: 0;
  padding: 0;
}

html{
  box-sizing: border-box;
  scroll-behavior: smooth;
}


/* KEYFRAMES */

@keyframes smoothMoveUp {
  0%, 100% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-10%);
  }
}



/* HEADER */

.header{
  font-family: 'Nunito Sans', sans-serif;
}


/* HERO */

.name{
  font-family: 'Prompt', sans-serif;
}

.description{
  font-family: 'Prompt', sans-serif;
}

.arrow-down {
  animation: smoothMoveUp 2s ease-in-out infinite;
}


/* MOBILE PROJECTS */

.mobile{
  font-family: 'Nunito Sans', sans-serif;
}


.attitude{
  background-image: 
  linear-gradient(to bottom, rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)),
  url(./assets/attitude.png);
  background-size: cover;
  background-position: center;
  border-radius: 0.7rem;
  width: 330px;
  height: 550px;
  font-family: 'Cinzel Decorative', serif;
  position: relative;
}

.fundit{
  background-image: 
  linear-gradient(to bottom, rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)),
  url(./assets/fundit.png);
  background-size: cover;
  background-position: center;
  border-radius: 0.7rem;
  width: 330px;
  height: 550px;
  font-family: 'Nosifer', sans-serif;
  position: relative;
}

.huddle{
  background-image: 
  linear-gradient(to bottom, rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)),
  url(./assets/huddle.png);
  background-size: cover;
  background-position: center;
  border-radius: 0.7rem;
  width: 330px;
  height: 550px;
  font-family: 'Nunito Sans', sans-serif;
  position: relative;
}